<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="80ebad">  <td>17/06/30 17:47:26</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;GetQuote.setup()[pri:0, instance:com.SydneyTesterTests.GetQuote@553f17c]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@836514715</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>17/06/30 17:47:30</td>   <td>3800</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GetQuote.Getquote()[pri:0, instance:com.SydneyTesterTests.GetQuote@553f17c]">Getquote</td> 
  <td>main@836514715</td>   <td></td> </tr>
</table>
